<main class="m-5">
  <h1 class="text-center mb-5 text-2xl">Danganrondle - The Danganronpa Daily Game</h1>
  <div class="flex items-center justify-center gap-4">
    <div class="hearts">{{ hearts() }}</div>
    <input
      class="input"
      type="text"
      placeholder="Search characters"
      [value]="characterQuery()"
      (input)="characterQuery.set($event.target.value)"
    />
  </div>
  @if (gameStatus() === 'LOSE') {
    <h1>GAME OVER</h1>
  } @else if (gameStatus() === 'WIN') {
    <h1>Got it! You win!</h1>
  }

  <dialog #gender id="gender-modal" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">A word on gender</h3>
      <p class="py-4">
        The values used here are pulled from the Danganronpa Wiki. Gender is a complex topic and the
        genders presented here don't fully describe every character's situation.
      </p>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>

  <app-dialog [open]="characterOptions().length > 0">
    <input
      class="input w-full"
      type="text"
      placeholder="Search characters"
      [value]="characterQuery()"
      (input)="characterQuery.set($event.target.value)"
    />
    <ul class="menu bg-base-200 rounded-box w-full">
      @for (character of characterOptions(); track character.id) {
        <app-character [data]="character" (selected)="guess(character.id)" />
      }
    </ul>
  </app-dialog>

  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Sprite</th>
          <th>Name</th>
          <th>Ancestry</th>
          <th>Debut</th>
          <th>Ultimate Talent</th>
          <th>
            <a class="underline hover:cursor-pointer" (click)="openGenderModal()">Gender</a>
          </th>
          <th>Status</th>
          <th>Height</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        @for (character of guesses(); track character.id) {
          <tr>
            <td [className]="attributeClass(character, 'sprite')">
              <img [src]="character.sprite" class="w-20 h-20" />
            </td>
            <td [className]="attributeClass(character, 'name')">
              <a class="underline" [href]="character.link" target="_blank">{{ character.name }}</a>
            </td>
            <td [className]="attributeClass(character, 'ancestry')">{{ character.ancestry }}</td>
            <td [className]="attributeClass(character, 'debutIn')">
              {{ GAME[character.debutIn] }}
            </td>
            <td [className]="attributeClass(character, 'ultimateTalent')">
              {{ character.ultimateTalent ?? 'N/A' }}
            </td>
            <td [className]="attributeClass(character, 'gender')">
              {{ character.gender }}
            </td>
            <td [className]="attributeClass(character, 'status')">{{ character.status }}</td>
            <td [className]="attributeClass(character, 'heightCm')">
              {{ character.heightCm }} cm {{ attributeIcon(character.heightCm, 'heightCm') }}
            </td>
            <td [className]="attributeClass(character, 'weightKg')">
              {{ character.weightKg ?? 'Unknown' }} kg
              {{ attributeIcon(character.weightKg, 'weightKg') }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</main>
